Repository prgrms-be-devcourse/NBE2_2_Team9, pull requests merged in 2024-09, with the labels that each got.

#11 5: [FEAT] 사용자 기능(약 정보 등록, 조회, 수정) API 구현, 글로벌 예외처리 기능 구축
  src/main/java/com/mednine/pillbuddy/domain/userMedication/controller/UserMedicationController.java
  src/main/java/com/mednine/pillbuddy/domain/userMedication/dto/UserMedicationDTO.java
  src/main/java/com/mednine/pillbuddy/domain/userMedication/entity/UserMedication.java
  src/main/java/com/mednine/pillbuddy/domain/userMedication/repository/UserMedicationRepository.java
  src/main/java/com/mednine/pillbuddy/domain/userMedication/service/UserMedicationService.java
  src/main/java/com/mednine/pillbuddy/domain/userMedication/service/UserMedicationServiceImpl.java
  src/main/java/com/mednine/pillbuddy/global/advice/GlobalExceptionHandler.java
  src/main/java/com/mednine/pillbuddy/global/exception/ErrorCode.java
  src/main/java/com/mednine/pillbuddy/global/exception/ErrorResponse.java
  src/main/java/com/mednine/pillbuddy/global/exception/PillBuddyCustomException.java
Labels: ✨ Feature

#16 13: [FEAT] 알림 정보 조회 API 구현
  src/test/java/com/mednine/pillbuddy/controller/UserMedicationControllerTests.java
  src/test/java/com/mednine/pillbuddy/repository/UseMedicationRepositoryTests.java
  src/test/java/com/mednine/pillbuddy/service/UserMedicationServiceTests.java
Labels: ✅ Test

#19 17: [FEAT] 보호자 등록 API 구현 및 코드 일부 리팩토링
  src/main/java/com/mednine/pillbuddy/domain/user/caregiver/entity/repository/CaregiverRepository.java
  src/main/java/com/mednine/pillbuddy/domain/user/caretaker/controller/CaretakerController.java
  src/main/java/com/mednine/pillbuddy/domain/user/caretaker/dto/CaretakerCaregiverDTO.java
  src/main/java/com/mednine/pillbuddy/domain/user/caretaker/entity/CaretakerCaregiver.java
  src/main/java/com/mednine/pillbuddy/domain/user/caretaker/repository/CaretakerCaregiverRepository.java
  src/main/java/com/mednine/pillbuddy/domain/user/caretaker/repository/CaretakerRepository.java
  src/main/java/com/mednine/pillbuddy/domain/user/caretaker/service/CaretakerService.java
  src/main/java/com/mednine/pillbuddy/domain/user/caretaker/service/CaretakerServiceImpl.java
  src/main/java/com/mednine/pillbuddy/domain/user/entity/User.java
  src/main/java/com/mednine/pillbuddy/global/advice/GlobalExceptionHandler.java
  src/main/java/com/mednine/pillbuddy/global/exception/ErrorCode.java
  src/main/java/com/mednine/pillbuddy/global/exception/PillBuddyCustomException.java
  src/test/java/com/mednine/pillbuddy/domain/user/caretaker/controller/CaretakerControllerTest.java
  src/test/java/com/mednine/pillbuddy/domain/user/caretaker/repository/CaretakerRepositoryTest.java
  src/test/java/com/mednine/pillbuddy/domain/user/caretaker/service/CaretakerServiceImplTest.java
  src/test/java/com/mednine/pillbuddy/domain/userMedication/controller/UserMedicationControllerTest.java
  src/test/java/com/mednine/pillbuddy/domain/userMedication/repository/UserMedicationRepositoryTest.java
  src/test/java/com/mednine/pillbuddy/domain/userMedication/service/UserMedicationServiceImplTest.java
  src/test/resources/sql/schema.sql
Labels: ✨ Feature, 🔨 Refactor, ✅ Test

#21 20: [FEAT] 보호자 삭제 API 구현/테스트 코드
  src/main/java/com/mednine/pillbuddy/domain/user/caretaker/controller/CaretakerController.java
  src/main/java/com/mednine/pillbuddy/domain/user/caretaker/service/CaretakerService.java
  src/main/java/com/mednine/pillbuddy/domain/user/caretaker/service/CaretakerServiceImpl.java
  src/main/java/com/mednine/pillbuddy/global/exception/ErrorCode.java
  src/test/java/com/mednine/pillbuddy/domain/user/caretaker/controller/CaretakerControllerTest.java
  src/test/java/com/mednine/pillbuddy/domain/user/caretaker/service/CaretakerServiceImplTest.java
Labels: ✨ Feature, ✅ Test

#23 9: [FEAT] 회원 가입 기능 구현
  build.gradle
  src/main/java/com/mednine/pillbuddy/domain/user/caregiver/entity/Caregiver.java
  src/main/java/com/mednine/pillbuddy/domain/user/caregiver/repository/CaregiverRepository.java
  src/main/java/com/mednine/pillbuddy/domain/user/caretaker/entity/Caretaker.java
  src/main/java/com/mednine/pillbuddy/domain/user/caretaker/repository/CaretakerRepository.java
  src/main/java/com/mednine/pillbuddy/domain/user/controller/UserController.java
  src/main/java/com/mednine/pillbuddy/domain/user/dto/JoinDto.java
  src/main/java/com/mednine/pillbuddy/domain/user/dto/UserDto.java
  src/main/java/com/mednine/pillbuddy/domain/user/dto/UserType.java
  src/main/java/com/mednine/pillbuddy/domain/user/entity/User.java
  src/main/java/com/mednine/pillbuddy/domain/user/service/CustomUserDetails.java
  src/main/java/com/mednine/pillbuddy/domain/user/service/MyUserDetailsService.java
  src/main/java/com/mednine/pillbuddy/domain/user/service/UserService.java
  src/main/java/com/mednine/pillbuddy/global/config/SecurityConfig.java
  src/main/java/com/mednine/pillbuddy/global/entity/BaseTimeEntity.java
  src/main/java/com/mednine/pillbuddy/global/exception/ErrorCode.java
  src/main/java/com/mednine/pillbuddy/global/jwt/JwtAuthenticationFilter.java
  src/main/java/com/mednine/pillbuddy/global/jwt/JwtToken.java
  src/main/java/com/mednine/pillbuddy/global/jwt/JwtTokenProvider.java
  src/main/resources/application.yml
  src/test/java/com/mednine/pillbuddy/domain/user/caregiver/repository/CaregiverRepositoryTest.java
  src/test/java/com/mednine/pillbuddy/domain/user/caretaker/repository/CaretakerRepositoryTest.java
  src/test/java/com/mednine/pillbuddy/domain/user/service/MyUserDetailsServiceTest.java
  src/test/java/com/mednine/pillbuddy/domain/user/service/UserServiceTest.java
  src/test/java/com/mednine/pillbuddy/domain/userMedication/controller/UserMedicationControllerTests.java
  src/test/java/com/mednine/pillbuddy/domain/userMedication/repository/UseMedicationRepositoryTests.java
  src/test/java/com/mednine/pillbuddy/domain/userMedication/service/UserMedicationServiceTests.java
  src/test/resources/application.yml
  src/test/resources/sql/schema.sql
Labels: ⚙ Setting, ✨ Feature, ✅ Test

#27 fix: 보호자 레포지토리 중복 제거
  src/main/java/com/mednine/pillbuddy/domain/user/caregiver/entity/repository/CaregiverRepository.java
  src/main/java/com/mednine/pillbuddy/domain/user/caretaker/service/CaretakerServiceImpl.java
  src/test/java/com/mednine/pillbuddy/domain/user/caretaker/service/CaretakerServiceImplTest.java
  src/test/java/com/mednine/pillbuddy/domain/user/service/MyUserDetailsServiceTest.java
Labels: 🐞 BugFix

#28 26:[FIX] 보호자 레포지토리 중복 제거
  src/main/java/com/mednine/pillbuddy/domain/user/caregiver/entity/repository/CaregiverRepository.java
  src/main/java/com/mednine/pillbuddy/domain/user/caretaker/service/CaretakerServiceImpl.java
  src/test/java/com/mednine/pillbuddy/domain/user/caretaker/service/CaretakerServiceImplTest.java
  src/test/java/com/mednine/pillbuddy/domain/user/service/MyUserDetailsServiceTest.java
Labels: 🐞 BugFix

#30 25:[FEAT] 회원 로그인 기능 구현
  src/main/java/com/mednine/pillbuddy/domain/user/controller/UserController.java
  src/main/java/com/mednine/pillbuddy/domain/user/dto/LoginDto.java
  src/main/java/com/mednine/pillbuddy/domain/user/service/UserService.java
  src/main/java/com/mednine/pillbuddy/global/config/SecurityConfig.java
  src/main/java/com/mednine/pillbuddy/global/jwt/JwtAccessDeniedHandler.java
  src/main/java/com/mednine/pillbuddy/global/jwt/JwtAuthenticationEntryPoint.java
  src/main/java/com/mednine/pillbuddy/global/jwt/JwtAuthenticationFilter.java
  src/main/java/com/mednine/pillbuddy/global/jwt/JwtToken.java
  src/test/java/com/mednine/pillbuddy/domain/user/service/UserServiceTest.java
  src/test/resources/sql/data.sql
Labels: ✨ Feature, ✅ Test

#32 24: [FEAT] 사용자 기능 API (약 복용 기록 조회) 구현
  src/main/java/com/mednine/pillbuddy/domain/record/dto/RecordDTO.java
  src/main/java/com/mednine/pillbuddy/domain/user/caretaker/controller/CaretakerController.java
  src/main/java/com/mednine/pillbuddy/domain/user/caretaker/repository/CaretakerCaregiverRepository.java
  src/main/java/com/mednine/pillbuddy/domain/user/caretaker/service/CaretakerServiceImpl.java
  src/main/java/com/mednine/pillbuddy/domain/userMedication/service/UserMedicationService.java
  src/main/java/com/mednine/pillbuddy/domain/userMedication/service/UserMedicationServiceImpl.java
  src/test/java/com/mednine/pillbuddy/domain/user/caretaker/controller/CaretakerControllerTest.java
Labels: ✨ Feature, 🔨 Refactor, ✅ Test
